networks:
  pcs:

services:

  #
  # Required services
  #
  etcd:
    image: artifactory.algol60.net/quay.io/coreos/etcd:v3.5.7
    environment:
      - ALLOW_NONE_AUTHENTICATION=yes
      - ETCD_ADVERTISE_CLIENT_URLS=http://etcd:2379
      - ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379
    networks:
      - pcs

  vault:
    hostname: vault
    image: artifactory.algol60.net/docker.io/library/vault:1.6.1
    environment:
      - VAULT_DEV_ROOT_TOKEN_ID=hms
      - VAULT_DEV_LISTEN_ADDRESS=0.0.0.0:8200
      - VAULT_ADDR=http://127.0.0.1:8200
    cap_add:
      - IPC_LOCK
    networks:
      - pcs

  vault-kv-enabler:
    image: artifactory.algol60.net/csm-docker/stable/vault-kv-enabler:1.25.0
    environment:
      - VAULT_ADDR=http://vault:8200
      - VAULT_TOKEN=hms
      - KV_STORES=hms-creds
    depends_on:
      - vault
    networks:
      - pcs

  hmsds-postgres:
    hostname: hmsds-postgres
    image: artifactory.algol60.net/docker.io/library/postgres:11-alpine
    environment:
      - POSTGRES_PASSWORD=hmsdsuser
      - POSTGRES_USER=hmsdsuser
      - POSTGRES_DB=hmsds
    networks:
      - pcs

  cray-smd-init:
    image: artifactory.algol60.net/csm-docker/stable/cray-smd:2.34.0
    environment:
      - SMD_DBHOST=hmsds-postgres
      - SMD_DBPORT=5432
    depends_on:
      - hmsds-postgres
    networks:
      - pcs
    command: /entrypoint.sh smd-init

  cray-smd:
    image: artifactory.algol60.net/csm-docker/stable/cray-smd:2.34.0
    environment:
      - POSTGRES_HOST=hmsds-postgres
      - POSTGRES_PORT=5432
      - RF_MSG_HOST=kafka:9092:cray-dmtf-resource-event
      - CRAY_VAULT_AUTH_PATH=auth/token/create
      - CRAY_VAULT_ROLE_FILE=configs/namespace
      - CRAY_VAULT_JWT_FILE=configs/token
      - VAULT_ADDR=http://vault:8200
      - VAULT_TOKEN=hms
      - VAULT_KEYPATH=hms-creds
      - SMD_WVAULT=true
      - SMD_RVAULT=true
      - SMD_SLS_HOST=
      - SMD_HBTD_HOST=
    hostname: cray-smd
    depends_on:
      - cray-smd-init
      - vault
    networks:
      - pcs

  zookeeper:
    image: artifactory.algol60.net/docker.io/confluentinc/cp-zookeeper:6.1.1
    hostname: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - pcs

  kafka:
    image: artifactory.algol60.net/docker.io/confluentinc/cp-kafka:6.1.1
    hostname: kafka
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
    networks:
      - pcs

  cray-hms-hmcollector:
    image: artifactory.algol60.net/csm-docker/stable/hms-hmcollector:2.36.0
    environment:
      - LOG_LEVEL=TRACE
      - SM_URL=http://cray-smd:27779
      - POLLING_ENABLED=false
      - RF_SUBSCRIBE_ENABLED=false
      - REST_PORT=80
      - VAULT_TOKEN=hms
      - CRAY_VAULT_JWT_FILE=configs/token
      - CRAY_VAULT_ROLE_FILE=configs/namespace
      - CRAY_VAULT_AUTH_PATH=auth/token/create
      - VAULT_ADDR=http://vault:8200
    volumes:
      - ./configs/kafka_brokers.json:/configs/kafka_brokers.json
      - ./configs/namespace:/configs/namespace
      - ./configs/token:/configs/token
    networks:
      - pcs

  #
  # Emulated hardware
  #
  # Note: Several PCS power-cap tests assume that all compute nodes in HSM
  # have Node Power Limit controls and do not have Accelerator Power Limit
  # controls, so the following RIE instances should only emulate node types
  # that fit this criteria. Otherwise test failures may occur.
  #
  emulator-loader:
    image: artifactory.algol60.net/docker.io/library/golang:1.23-alpine
    command: >
      sh -c "apk add curl && sleep 10 &&
      curl -X POST -d '{\"RedfishEndpoints\":[{
        \"ID\":\"x0c0b0\",
        \"FQDN\":\"x0c0b0\",
        \"RediscoverOnUpdate\":true,
        \"User\":\"root\",
        \"Password\":\"root_password\"
      },{
        \"ID\":\"x0c0s0b0\",
        \"FQDN\":\"x0c0s0b0\",
        \"RediscoverOnUpdate\":true,
        \"User\":\"root\",
        \"Password\":\"root_password\"
      },{
        \"ID\":\"x0c0s1b0\",
        \"FQDN\":\"x0c0s1b0\",
        \"RediscoverOnUpdate\":true,
        \"User\":\"root\",
        \"Password\":\"root_password\"
      },{
        \"ID\":\"x0c0s2b0\",
        \"FQDN\":\"x0c0s2b0\",
        \"RediscoverOnUpdate\":true,
        \"User\":\"root\",
        \"Password\":\"root_password\"
      },{
        \"ID\":\"x0c0s3b0\",
        \"FQDN\":\"x0c0s3b0\",
        \"RediscoverOnUpdate\":true,
        \"User\":\"root\",
        \"Password\":\"root_password\"
      },{
        \"ID\":\"x0c0s4b0\",
        \"FQDN\":\"x0c0s4b0\",
        \"RediscoverOnUpdate\":true,
        \"User\":\"root\",
        \"Password\":\"root_password\"
      },{
        \"ID\":\"x0c0s5b0\",
        \"FQDN\":\"x0c0s5b0\",
        \"RediscoverOnUpdate\":true,
        \"User\":\"root\",
        \"Password\":\"root_password\"
      },{
        \"ID\":\"x0c0s6b0\",
        \"FQDN\":\"x0c0s6b0\",
        \"RediscoverOnUpdate\":true,
        \"User\":\"root\",
        \"Password\":\"root_password\"
      },{
        \"ID\":\"x0c0s7b0\",
        \"FQDN\":\"x0c0s7b0\",
        \"RediscoverOnUpdate\":true,
        \"User\":\"root\",
        \"Password\":\"root_password\"
      }]}' http://cray-smd:27779/hsm/v2/Inventory/RedfishEndpoints"
    depends_on:
      - cray-smd
      - rfemulator0
      - rfemulator1
      - rfemulator2
      - rfemulator3
      - rfemulator4
      - rfemulator5
      - rfemulator6
      - rfemulator7
      - rfemulator8
    networks:
      - pcs

  rfemulator0:
    hostname: x0c0s0b0
    image: artifactory.algol60.net/csm-docker/stable/csm-rie:1.7.0
    environment:
      - MOCKUPFOLDER=EX425
      - MAC_SCHEMA=Mountain
      - XNAME=x0c0s0b0
      - PORT=443
    networks:
      pcs:
        aliases:
          - x0c0s0b0

  rfemulator1:
    hostname: x0c0s1b0
    image: artifactory.algol60.net/csm-docker/stable/csm-rie:1.7.0
    environment:
      - MOCKUPFOLDER=EX425
      - MAC_SCHEMA=Mountain
      - XNAME=x0c0s1b0
      - PORT=443
    networks:
      pcs:
        aliases:
          - x0c0s1b0

  rfemulator2:
    hostname: x0c0s2b0
    image: artifactory.algol60.net/csm-docker/stable/csm-rie:1.7.0
    environment:
      - MOCKUPFOLDER=EX425
      - MAC_SCHEMA=Mountain
      - XNAME=x0c0s2b0
      - PORT=443
    networks:
      pcs:
        aliases:
          - x0c0s2b0

  rfemulator3:
    hostname: x0c0s3b0
    image: artifactory.algol60.net/csm-docker/stable/csm-rie:1.7.0
    environment:
      - MOCKUPFOLDER=EX425
      - MAC_SCHEMA=Mountain
      - XNAME=x0c0s3b0
      - PORT=443
    networks:
      pcs:
        aliases:
          - x0c0s3b0

  rfemulator4:
    hostname: x0c0s4b0
    image: artifactory.algol60.net/csm-docker/stable/csm-rie:1.7.0
    environment:
      - MOCKUPFOLDER=EX425
      - MAC_SCHEMA=Mountain
      - XNAME=x0c0s4b0
      - PORT=443
    networks:
      pcs:
        aliases:
          - x0c0s4b0

  rfemulator5:
    hostname: x0c0s5b0
    image: artifactory.algol60.net/csm-docker/stable/csm-rie:1.7.0
    environment:
      - MOCKUPFOLDER=EX425
      - MAC_SCHEMA=Mountain
      - XNAME=x0c0s5b0
      - PORT=443
    networks:
      pcs:
        aliases:
          - x0c0s5b0

  rfemulator6:
    hostname: x0c0s6b0
    image: artifactory.algol60.net/csm-docker/stable/csm-rie:1.7.0
    environment:
      - MOCKUPFOLDER=EX425
      - MAC_SCHEMA=Mountain
      - XNAME=x0c0s6b0
      - PORT=443
    networks:
      pcs:
        aliases:
          - x0c0s6b0

  rfemulator7:
    hostname: x0c0s7b0
    image: artifactory.algol60.net/csm-docker/stable/csm-rie:1.7.0
    environment:
      - MOCKUPFOLDER=EX425
      - MAC_SCHEMA=Mountain
      - XNAME=x0c0s7b0
      - PORT=443
    networks:
      pcs:
        aliases:
          - x0c0s7b0

  rfemulator8:
    hostname: x0c0b0
    image: artifactory.algol60.net/csm-docker/stable/csm-rie:1.7.0
    environment:
      - MOCKUPFOLDER=CMM
      - XNAME=x0c0b0
      - PORT=443
    networks:
      pcs:
        aliases:
          - x0c0b0

  #
  # Service under test
  #
  cray-power-control:
    build:
      context: .
      dockerfile: Dockerfile.integration.Dockerfile
    environment:
      - SMS_SERVER=http://cray-smd:27779
      - CRAY_VAULT_AUTH_PATH=auth/token/create
      - CRAY_VAULT_ROLE_FILE=configs/namespace
      - CRAY_VAULT_JWT_FILE=configs/token
      - VAULT_ADDR=http://vault:8200
      - VAULT_TOKEN=hms
      - VAULT_KEYPATH=hms-creds
      - VAULT_SKIP_VERIFY=true
      - VAULT_ENABLED=true
      - LOG_LEVEL=DEBUG
      - TRS_IMPLEMENTATION=LOCAL
      - HSMLOCK_ENABLED=true
      - STORAGE=ETCD
      - ETCD_HOST=etcd
      - ETCD_PORT=2379
      - PCS_POWER_SAMPLE_INTERVAL=5
    depends_on:
      - etcd # needed to bring up PCS
      - cray-smd # needed to bring up PCS
      - vault-kv-enabler # needed for discovery of emulated hardware to succeed
      - emulator-loader # needed to bring up emulated hardware
      - wait-for-smd # needed to give PCS time for its initial hardware scan
    networks:
      - pcs

  #
  # Tests
  #
  wait-for-smd:
    build:
      context: test/ct/
      dockerfile: Dockerfile.wait-for-smd.Dockerfile
    networks:
      - pcs

  tavern:
    build:
      context: test/ct/
      dockerfile: Dockerfile
    entrypoint: entrypoint.sh tavern -c /src/app/tavern_global_config_ct_test_emulated_hardware.yaml -p /src/app/api
    networks:
      - pcs

  smoke:
    build:
      context: test/ct/
      dockerfile: Dockerfile
    entrypoint: entrypoint.sh smoke -f smoke.json -u http://cray-power-control:28007
    networks:
      - pcs
